<%- include('partials/header'); -%>

<body>
    <h1>Home</h1>
    <p><%= startingContent %></p>

    <% posts.forEach(function(post) { %>
    <h1><%= post.composeTitle %></h1>
    <span><%= post.composeBody.substring(0, 100) + " ..." %></span>
    <a href="/posts/<%= post.composeTitle %>">Read more</a>
    <% }) %>
</body>
<%- include('partials/footer'); -%>